/target
.idea

# Don't add the generated folder to the ignored folder, so other people can easily see what is being generated
# /generated
/src/properties.rs
./generatedfortest.sqlite3

# This is created by a test
ignoreme